@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./colors.css";
@import "tailwindcss";


@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-heading: var(--color-heading);
  --font-sans: var(--font-sans);
}

body {

  /* font-family: var(--font-sans); */
  @apply bg-secondary/5
}


@layer components {
  .card {
    @apply shadow-md border-primary/20 border
  }

  .clip-diagnol {
    clip-path: polygon(0 0, 61% 0, 44% 100%, 0 100%);
  }

}

h1 {
  @apply font-bold;
  font-size: clamp(1.75rem, 5vw, 3.75rem);
  /* ~text-3xl to text-6xl */
}

h2 {
  @apply font-semibold;
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);
  /* ~text-2xl to text-4xl */
}

.h2 {
  @apply font-semibold;
  font-size: clamp(1.75rem, 3.5vw, 2.25rem);
  /* ~text-2xl to text-4xl */
}



h3 {
  @apply font-semibold;
  font-size: clamp(1.25rem, 3vw, 1.875rem);
  /* ~text-xl to text-3xl */
}

h4 {
  @apply font-medium;
  font-size: clamp(1.125rem, 2.2vw, 1.5rem);
  /* ~text-lg to text-2xl */
}

h5 {
  @apply font-medium;
  font-size: clamp(1rem, 2vw, 1.25rem);
  /* ~text-base to text-xl */
}

h6 {
  @apply font-medium;
  font-size: clamp(0.875rem, 1.8vw, 1.125rem);
  /* ~text-sm to text-lg */
}

.p1 {
  @apply leading-relaxed;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  /* ~text-base to text-lg */
}

.p2 {
  @apply leading-normal;
  font-size: clamp(0.875rem, 1.3vw, 1rem);
  /* ~text-sm to text-base */
}

.p3 {
  @apply leading-snug;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  /* ~text-xs to text-sm */
}



.btn-secondary {

  @apply whitespace-nowrap bg-secondary px-8 py-3 text-white font-semibold cursor-pointer ring-secondary/50 rounded-sm focus:ring-3 focus:ring-secondary/70 hover:scale-110 transition-all
}

.btn-primary {

  @apply whitespace-nowrap bg-primary px-8 py-3 text-white font-semibold cursor-pointer ring-primary/50 rounded-sm focus:ring-3 focus:ring-primary/70 hover:scale-110 transition-all
}

.input {
  @apply w-full px-4 py-2 border border-primary/50 rounded-sm focus:outline-none focus:ring-2 transition-all placeholder:text-gray-500 bg-white;
}


.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  /* flex-direction: row-reverse; */
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


.gallery {
  @apply grid grid-cols-1 gap-2 overflow-hidden
}